/* Общие стили для сайта */
body {
    font-family: sans-serif;
    margin: 0;
    line-height: 1.6;
}

/* Шапка сайта */
header {
    background: #4c77af;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Фиксируем шапку */
    top: 0; /* Устанавливаем на верхнюю часть экрана */
    left: 0; /* Устанавливаем на левую границу экрана */
    width: 100%; /* Ширина на всю ширину экрана */
    z-index: 1; /* Обеспечиваем, чтобы шапка была над другими элементами */
}

header .logo {
    font-size: 1.5em;
    font-weight: bold;
}
header strong {
    margin-left: 20px;
}
header img {
    margin-left: 20px;
}
.logo {
    display: flex;
    align-items: center; /* вертикальное выравнивание */
}
header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header .search-box {
    display: flex;
}

header .search-box input {
    padding: 5px;
    border: none;
}

header .search-box button {
    padding: 5px 10px;
    background-color: #4c77af;
    color: white;
    border: none;
    cursor: pointer;
}
.search-box{
    margin-right: 50px;
}

.contact-info {
  width: 90%;
  margin: 5% auto 50px auto;
  padding: 30px;
  background-color: #fdfdfd;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  color: #333;
  text-align: center;
}

/* Заголовок */
.contact-info h2 {
  font-size: 1.8rem;
  margin-bottom: 25px;
  color: #1e40af;
}

/* Контактные данные */
.contact-info .contacts p {
  font-size: 1.1rem;
  margin: 10px 0;
  color: #1f2937;
  line-height: 1.5;
}

footer {
    background-color: #4c77af;
    color: white;
    padding: 40px 10px;
    text-align: center;
}

footer .sitemap {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    text-align: left;
}

footer .sitemap ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .sitemap > ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

footer .sitemap > ul > li {
    flex: 1 1 200px;
    margin: 10px;
}

footer .sitemap h1 {
    width: 100%;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 30px;
}

footer .sitemap h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #ffffff;
}

footer .sitemap li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.95rem;
    transition: text-decoration 0.2s ease;
}

footer .sitemap li a:hover {
    text-decoration: underline;
}